<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <fieldset>
            <legend>Add new user</legend>
            <label for="name">name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="gmail">gmail: </label>
            <input type="gmail" id="gmail" name="gmail"><br><br>
            <label for="city">city</label>
            <input type="text" id="city" name="city"><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>